/* stylelint-disable */

@mixin custom-checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    padding-left: 25px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      background: #7AAF91;
      box-shadow: inset -2px -5px 12px rgba(0, 0, 0, 0.1), inset 2px 2px 12px rgba(0, 0, 0, 0.14);
      border-radius: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      background-image: url("../img/check.svg");
      background-position: center;
      background-size: 15px 15px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked+.custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
}

.custom-checkbox__field:disabled+.custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
