<section class="cta">
  <div class="container cta__container">
    <div class="cta__wrapper">
      <div class="cta__head">
        <h2>Узнайте сумму займа</h2>
        <p>Перезвоним в течение 1 минуты</p>
      </div>
      <div class="cta__inner">
        <form action="#" class="form cta__form">
          <div class="form__row">
            <div class="form__group">
              <p>Имя</p>
              <input class="input-reset" type="text" placeholder="Ваше имя">
            </div>
            <div class="form__group">
              <p>Телефон</p>
              <input class="input-reset" type="tel" placeholder="+7 (000) 000-00-00">
            </div>
            <button class="form__btn btn-reset">
              Узнать сумму
            </button>
          </div>
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__field">
            <span class="custom-checkbox__content">Я даю согласие на обработку персональных данных</span>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>
