<section class="example">
  <div class="container example__container">
    <h2>Примеры выданных займов</h2>
    <div class="example__inner">
      <div class="example__swiper-btns">
        <div class="example__swiper-prev">
          <img width="21" height="36" src="./img/swiper-prev.svg" alt="">
        </div>
        <div class="example__swiper-next">
          <img width="21" height="36" src="./img/swiper-next.svg" alt="">
        </div>
      </div>
      <div class="swiper example__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="example__card card">
              <div class="card__img">
                <picture>
                  <source srcset="../img/card-img1.webp" type="image/webp">
                  <img loading="lazy" src="../img/card-img1.png" class="image" width="640" height="470" alt="">
                </picture>
              </div>
              <h3 class="card__name">
                Bomag BW 213 D-5
              </h3>
              <div class="card__chars">
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/litr.svg" alt="">
                  <span>4,4 л</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/hp.svg" alt="">
                  <span>138 л.с</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/fuel.svg" alt="">
                  <span>Дизель</span>
                </div>
              </div>
              <div class="card__price">
                <span>Сумма залога</span>
                <p>6 400 000 р.</p>
              </div>
              <div class="card__date">
                <p>Дата займа: <span>2022 г.</span></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="example__card card">
              <div class="card__img">
                <picture>
                  <source srcset="../img/card-img1.webp" type="image/webp">
                  <img loading="lazy" src="../img/card-img1.png" class="image" width="640" height="470" alt="">
                </picture>
              </div>
              <h3 class="card__name">
                Bomag BW 213 D-5
              </h3>
              <div class="card__chars">
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/litr.svg" alt="">
                  <span>4,4 л</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/hp.svg" alt="">
                  <span>138 л.с</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/fuel.svg" alt="">
                  <span>Дизель</span>
                </div>
              </div>
              <div class="card__price">
                <span>Сумма залога</span>
                <p>6 400 000 р.</p>
              </div>
              <div class="card__date">
                <p>Дата займа: <span>2022 г.</span></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="example__card card">
              <div class="card__img">
                <picture>
                  <source srcset="../img/card-img1.webp" type="image/webp">
                  <img loading="lazy" src="../img/card-img1.png" class="image" width="640" height="470" alt="">
                </picture>
              </div>
              <h3 class="card__name">
                Bomag BW 213 D-5
              </h3>
              <div class="card__chars">
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/litr.svg" alt="">
                  <span>4,4 л</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/hp.svg" alt="">
                  <span>138 л.с</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/fuel.svg" alt="">
                  <span>Дизель</span>
                </div>
              </div>
              <div class="card__price">
                <span>Сумма залога</span>
                <p>6 400 000 р.</p>
              </div>
              <div class="card__date">
                <p>Дата займа: <span>2022 г.</span></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="example__card card">
              <div class="card__img">
                <picture>
                  <source srcset="../img/card-img1.webp" type="image/webp">
                  <img loading="lazy" src="../img/card-img1.png" class="image" width="640" height="470" alt="">
                </picture>
              </div>
              <h3 class="card__name">
                Bomag BW 213 D-5
              </h3>
              <div class="card__chars">
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/litr.svg" alt="">
                  <span>4,4 л</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/hp.svg" alt="">
                  <span>138 л.с</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/fuel.svg" alt="">
                  <span>Дизель</span>
                </div>
              </div>
              <div class="card__price">
                <span>Сумма залога</span>
                <p>6 400 000 р.</p>
              </div>
              <div class="card__date">
                <p>Дата займа: <span>2022 г.</span></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="example__card card">
              <div class="card__img">
                <picture>
                  <source srcset="../img/card-img1.webp" type="image/webp">
                  <img loading="lazy" src="../img/card-img1.png" class="image" width="640" height="470" alt="">
                </picture>
              </div>
              <h3 class="card__name">
                Bomag BW 213 D-5
              </h3>
              <div class="card__chars">
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/litr.svg" alt="">
                  <span>4,4 л</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/hp.svg" alt="">
                  <span>138 л.с</span>
                </div>
                <div class="card__chars-item">
                  <img width="20" height="20" src="./img/fuel.svg" alt="">
                  <span>Дизель</span>
                </div>
              </div>
              <div class="card__price">
                <span>Сумма залога</span>
                <p>6 400 000 р.</p>
              </div>
              <div class="card__date">
                <p>Дата займа: <span>2022 г.</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
