<div class="footer">
  <div class="container">
    <div class="footer__top">
      <p>
        &copy; 2023 ООО «Ломбард Гарант». <br>Все права защищены.
      </p>
      <a href="./politica.pdf" target="_blank">
        Политика конфиденциальности
      </a>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p>
          ПРИМЕР РАСЧЁТА. Залог имущества, помогает выйти из затруднительного финансового положения многим. Если Вы сочли для себя нужным заложить ваше авто, находящиеся в Вашей собственности, Вам предложат отличные индивидуальные условия по Займу. До заключения договора залога эксперты максимально быстро оценят Ваше имущество, а после согласования суммы заемных средств, оформят сделку, неукоснительно следуя действующему Законодательству РФ. Вы же сразу получите деньги на руки. Допустим, что согласно договору Вы взяли 1000000 рублей на 61 день под 3,5%. Это будет означать, что в конце месяца для того чтобы снять ограничение с заложенного Вами имущества, необходимо будет вернуть взятую сумму Займа + 35000 рублей.*
        </p>
        <p>
          *Представленная информация не является публичной офертой <br>
          ООО «Ломбард Гарант» ИНН: 7701930920 ОГРН: 1117746702996. Лицензия № 2323 от 08.07.2015
        </p>
      </div>
    </div>
  </div>
</div>
