<section id="garant" class="garant">
  <div class="container garant__container">
    <div class="garant__head">
      <h2>«Автоломбард Гарант»</h2>
      <p>надежный партнер вашего бизнеса </p>
    </div>
    <div class="garant__inner">
      <div class="garant__item">
        <picture>
          <source srcset="../img/garant-img1.webp" type="image/webp">
          <img loading="lazy" src="../img/garant-img1.png" class="image" width="220" height="220" alt="">
        </picture>
        <h3>Более <span>20 лет</span> <br> на рынке</h3>
      </div>
      <div class="garant__item">
        <picture>
          <source srcset="../img/garant-img2.webp" type="image/webp">
          <img loading="lazy" src="../img/garant-img2.png" class="image" width="220" height="220" alt="">
        </picture>
        <h3><span>Выдаём до 95%</span> от рыночной стоимости</h3>
      </div>
      <div class="garant__item">
        <picture>
          <source srcset="../img/garant-img3.webp" type="image/webp">
          <img loading="lazy" src="../img/garant-img3.png" class="image" width="220" height="220" alt="">
        </picture>
        <h3><span>Официальное оформление</span> займа</h3>
      </div>
      <div class="garant__item">
        <picture>
          <source srcset="../img/garant-img4.webp" type="image/webp">
          <img loading="lazy" src="../img/garant-img4.png" class="image" width="220" height="220" alt="">
        </picture>
        <h3>Осмотр машины и оформление документов <span>за 30 минут</span></h3>
      </div>
      <div class="garant__item">
        <picture>
          <source srcset="../img/garant-img5.webp" type="image/webp">
          <img loading="lazy" src="../img/garant-img5.png" class="image" width="220" height="220" alt="">
        </picture>
        <h3>Для оформления займа нужно <span>предоставить паспорт и ПСМ</span></h3>
      </div>
      <div class="garant__item">
        <picture>
          <source srcset="../img/garant-img6.webp" type="image/webp">
          <img loading="lazy" src="../img/garant-img6.png" class="image" width="220" height="220" alt="">
        </picture>
        <h3>Под контролем ЦБ РФ, включены <span>в гос. реестр ломбардов</span> (<a id="pdf" target="_blank" href="./cb.pdf">PDF</a>)</h3>
      </div>
    </div>
  </div>
</section>
