<section class="hero hero-2">
  <div class="container hero_container">
    <div id="hero" class="hero__inner">
      <div class="hero__info">
        <h1 class="hero__title">
          деньги под <br>
          залог&nbsp;автомобиля <br>
          <span>от 3%</span> в месяц
        </h1>
        <div class="hero__img hero__img-2">
          <picture>
            <source srcset="./img/hero-2-img.webp" type="image/webp">
            <img loading="lazy" src="./img/hero-2-img.png" class="image" width="1050" height="557" alt="">
          </picture>
        </div>
        <button class="btn-reset hero__btn-2 modal-btn">
          <span>Оформить заявку</span>
        </button>
        <div class="hero__bottom">
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item3.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item3.png" class="image" width="80" height="80" alt="">
            </picture>
            <p><span>Выдаем до 95%</span> от рыночной стоимости</p>
          </div>
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item2.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item2.png" class="image" width="80" height="80" alt="">
            </picture>
            <p><span>Займ за 30 минут</span> без справок и поручителей</p>
          </div>
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item4.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item4.png" class="image" width="80" height="80" alt="">
            </picture>
            <p>Займы <span>до 30 млн. руб.</span></p>
          </div>
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item5.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item5.png" class="image" width="80" height="80" alt="">
            </picture>
            <p>С любой <span>кредитной историей</span></p>
          </div>
        </div>
        <button class="hero__btn hero__btn-1 btn-reset modal-btn">
          <span>Оформить заявку</span>
        </button>
      </div>
      <div class="hero__img hero__img-1">
        <picture>
          <source srcset="./img/hero-2-img.webp" type="image/webp">
          <img loading="lazy" src="./img/hero-2-img.png" class="image" width="1050" height="557" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
