<section class="hero">
  <div class="container hero_container">
    <div class="hero__inner">
      <div class="hero__info">
        <p class="hero__subtitle">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0C7.313 0 3.5 3.813 3.5 8.49998C3.5 13.034 11.271 23.364 11.602 23.802C11.695 23.927 11.844 24 12 24C12.156 24 12.305 23.927 12.398 23.802C12.729 23.364 20.5001 13.034 20.5001 8.49998C20.5 3.813 16.687 0 12 0ZM12 13C9.51898 13 7.49998 10.981 7.49998 8.49998C7.49998 6.01898 9.51898 3.99998 12 3.99998C14.481 3.99998 16.5 6.01898 16.5 8.49998C16.5 10.981 14.481 13 12 13Z" fill="white"/>
          </svg>
          ВЫЕЗЖАЕМ НА ОЦЕНКУ СПЕЦТЕХНИКИ ПО МОСКВЕ И МО
        </p>
        <h1 class="hero__title">
          деньги под залог спецтехники <span>от 0,1%</span> в день
        </h1>
        <a href="#" class="hero__btn">
          <span>Оформить заявку</span>
        </a>
        <div class="hero__bottom">
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item1.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item1.png" class="image" width="80" height="80" alt="">
            </picture>
            <p><span>Выдаем до 95%</span> от рыночной стоимости</p>
          </div>
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item2.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item2.png" class="image" width="80" height="80" alt="">
            </picture>
            <p><span>Займ за 30 минут</span> без справок и поручителей</p>
          </div>
        </div>
      </div>
      <div class="hero__img">
        <picture>
          <source srcset="./img/hero-img.webp" type="image/webp">
          <img loading="lazy" src="./img/hero-img.png" class="image" width="722" height="576" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
