<section class="hero hero-2 hero-5">
  <div class="container hero_container">
    <div id="hero" class="hero__inner">
      <div class="hero__motos-left">
        <picture>
          <source srcset="./img/moto-blue.webp" type="image/webp">
          <img loading="lazy" src="./img/moto-blue.png" class="image moto-blue" width="770" height="433" alt="">
        </picture>
        <picture>
          <source srcset="./img/moto-red.webp" type="image/webp">
          <img loading="lazy" src="./img/moto-red.png" class="image moto-red" width="655" height="415" alt="">
        </picture>
      </div>
      <div class="hero__motos-right">
        <picture>
          <source srcset="./img/moto-brown.webp" type="image/webp">
          <img loading="lazy" src="./img/moto-brown.png" class="image moto-brown" width="698" height="505" alt="">
        </picture>
        <picture>
          <source srcset="./img/moto-orange.webp" type="image/webp">
          <img loading="lazy" src="./img/moto-orange.png" class="image moto-orange" width="750" height="422" alt="">
        </picture>
      </div>
      <div class="hero__info">
        <p class="hero__subtitle">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0C7.313 0 3.5 3.813 3.5 8.49998C3.5 13.034 11.271 23.364 11.602 23.802C11.695 23.927 11.844 24 12 24C12.156 24 12.305 23.927 12.398 23.802C12.729 23.364 20.5001 13.034 20.5001 8.49998C20.5 3.813 16.687 0 12 0ZM12 13C9.51898 13 7.49998 10.981 7.49998 8.49998C7.49998 6.01898 9.51898 3.99998 12 3.99998C14.481 3.99998 16.5 6.01898 16.5 8.49998C16.5 10.981 14.481 13 12 13Z" fill="white"/>
          </svg>
          ВЫЕЗЖАЕМ НА ОЦЕНКУ СПЕЦТЕХНИКИ ПО МОСКВЕ И МО
        </p>
        <h1 class="hero__title">
          деньги под залог <br>
          мототехники <br>
          <span>от 3%</span> в месяц
        </h1>
        <button class="btn-reset hero__btn-2 modal-btn">
          <span>Оформить заявку</span>
        </button>
        <div class="hero__bottom">
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item3.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item3.png" class="image" width="80" height="80" alt="">
            </picture>
            <p><span>Выдаем до 95%</span> от рыночной стоимости</p>
          </div>
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item2.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item2.png" class="image" width="80" height="80" alt="">
            </picture>
            <p>Рассмотрение заявки – <span>в течение 5 минут</span></p>
          </div>
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item9.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item9.png" class="image" width="80" height="80" alt="">
            </picture>
            <p>Скрытые платежи - <span>отсутствуют</span></p>
          </div>
          <div class="hero__item">
            <picture>
              <source srcset="../img/hero-item8.webp" type="image/webp">
              <img loading="lazy" src="../img/hero-item8.png" class="image" width="80" height="80" alt="">
            </picture>
            <p><span>Выдача денег – в течение 20 минут</span> после обращения</p>
          </div>
        </div>
        <button class="hero__btn hero__btn-1 btn-reset modal-btn">
          <span>Оформить заявку</span>
        </button>
      </div>
    </div>
  </div>
</section>
