<section class="loc">
  <div class="container loc__container">
    <div class="loc__head">
      <p>Заложить спецтехнику можно в следующих отделениях:</p>
      <h2>«Филиал Тушино» и «Филиал Марьино»</h2>
    </div>
    <div class="loc__inner">
      <div class="swiper loc__swiper">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
            <div class="loc__item">
              <h3>Филиал Динамо</h3>
              <div class="loc__item-info">
                <img width="19" height="27" src="./img/green-pin.svg" alt="">
                <div class="loc__item-about">
                  <h4>Адрес</h4>
                  <p>Москва, Ленинградский пр-т, 37, к. 9</p>
                </div>
              </div>
              <a href="#" class="loc__item-phone">
                <img width="20" height="20" src="./img/green-phone.svg" alt="">
                <span><span>+</span>7(495) 518 80 81</span>
              </a>
              <a href="#" class="loc__item-btn">
                Открыть на карте
              </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="loc__item">
              <h3>Филиал Тушино</h3>
              <div class="loc__item-info">
                <img width="19" height="27" src="./img/green-pin.svg" alt="">
                <div class="loc__item-about">
                  <h4>Адрес</h4>
                  <p>Москва, ул. Лодочная, д.3, с.1А.</p>
                </div>
              </div>
              <a href="#" class="loc__item-phone">
                <img width="20" height="20" src="./img/green-phone.svg" alt="">
                <span><span>+</span>7(985) 222 89 19</span>
              </a>
              <a href="#" class="loc__item-btn">
                Открыть на карте
              </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="loc__item">
              <h3>Филиал Марьино</h3>
              <div class="loc__item-info">
                <img width="19" height="27" src="./img/green-pin.svg" alt="">
                <div class="loc__item-about">
                  <h4>Адрес</h4>
                  <p>Москва, ул. Нижние поля, 27, с. 11</p>
                </div>
              </div>
              <a href="#" class="loc__item-phone">
                <img width="20" height="20" src="./img/green-phone.svg" alt="">
                <span><span>+</span>7(495) 506 17 77</span>
              </a>
              <a href="#" class="loc__item-btn">
                Открыть на карте
              </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="loc__item">
              <h3>Филиал Румянцево</h3>
              <div class="loc__item-info">
                <img width="19" height="27" src="./img/green-pin.svg" alt="">
                <div class="loc__item-about">
                  <h4>Адрес</h4>
                  <p>Москва, Киевское ш., 4с2в, БЦ "Румянцево"</p>
                </div>
              </div>
              <a href="#" class="loc__item-phone">
                <img width="20" height="20" src="./img/green-phone.svg" alt="">
                <span><span>+</span>7(985) 222 92 97</span>
              </a>
              <a href="#" class="loc__item-btn">
                Открыть на карте
              </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="loc__item">
              <h3>Филиал Мосфильмовская</h3>
              <div class="loc__item-info">
                <img width="19" height="27" src="./img/green-pin.svg" alt="">
                <div class="loc__item-about">
                  <h4>Адрес</h4>
                  <p>улица Улофа Пальме, 1 <br>
                    <br>
                  </p>
                </div>
              </div>
              <a href="#" class="loc__item-phone">
                <img width="20" height="20" src="./img/green-phone.svg" alt="">
                <span><span>+</span>7(925) 257 77 11</span>
              </a>
              <a href="#" class="loc__item-btn">
                Открыть на карте
              </a>
            </div>
           </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
