<div id="map" class="map">
  <div class="container map__container">
    <div class="map__inner">
      <h3 id="title" class="map__name">
        Филиал на Динамо
      </h3>
      <div class="map__address">
        <img width="19" height="27" src="./img/green-pin.svg" alt="">
        <div class="map__address-info">
          <h4>Адрес</h4>
          <p id="address">Москва, Ленинградский проспект, 37, к. 9 Бизнес-отель «Аэростар», офис 604, 4 подъезд</p>
          <h5>Географические координаты:</h5>
          <span id="geo">55.7905500689469,37.54738699999998</span>
        </div>
      </div>
      <div class="map__phone">
        <img width="20" height="20" src="./img/green-phone.svg" alt="">
        <div class="map__address-info">
          <a id="phone" href="tel:74955188081"><span>+</span>7 (495) 518 80 81</a>
          <a id="email" href="mailto:d9799921@mail.ru">d9799921@mail.ru</a>
        </div>
      </div>
    </div>
  </div>
</div>
