<div class="overlay">
  <div class="modal modal__main">
    <button class="btn-reset modal__close-btn">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L11 11M21 21L11 11M11 11L21 1L1 21" stroke="#9A9A9A" stroke-width="2"/>
      </svg>
    </button>
    <div class="modal__head">
      <p>Хотите получить займ?</p>
      <span>Перезвоним в течение 1 минуты</span>
    </div>
    <form action="#" class="modal__form form-2">
      <div class="modal__form-group">
        <label for="Name">Имя</label>
        <input required type="text" name="Name" class="input-reset input-name" placeholder="Ваше имя">
      </div>
      <div class="modal__form-group">
        <label for="Phone">Телефон</label>
        <input required type="tel" name="Phone" class="input-reset input-tel" placeholder="+7 (000) 000-00-00">
      </div>
      <button class="btn-reset modal__form-btn">
        <span>ПоЛучить займ</span>
      </button>
      <label class="custom-checkbox">
        <input type="checkbox" class="custom-checkbox__field" checked>
        <span class="custom-checkbox__content">Я даю согласие на обработку персональных данных</span>
      </label>
    </form>
  </div>
  <div class="modal modal__thank">
    <button class="btn-reset modal__close-btn">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L11 11M21 21L11 11M11 11L21 1L1 21" stroke="#9A9A9A" stroke-width="2"/>
      </svg>
    </button>
    <div class="modal__thank-inner">
      <p>Спасибо за обращение</p>
      <span>Мы свяжемся с Вами в ближайшее время</span>
      <button class="modal__back btn-reset">НА ГЛАВНУЮ</button>
    </div>
  </div>
</div>
