:root {
  --font-family: "Raleway", sans-serif;
  --content-width: 1200px;
  --container-offset: 22px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
}
